body {
    background-color: blanchedalmond;
    font-family: serif;
    color: #0011ff;
}

h1 {
    margin-top: -7px;
    margin-bottom: -22px;
}

.recipe-body {
    color: #080808;
}

.recipe-body h1 {
    color: #0000ff;
}

.recipe-body h2 {
    color: #2403b8;
}

.recipe-body h3 {
    color: #05029ebb;
}

ul {
    text-align: left;
    margin-left: -20px;
    margin-right: 5px;
    margin-bottom: -1px;
}

#frame {
    border: 5px solid darkorchid;
    text-align: center;
    width: fit-content;
    margin: auto;
}